<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../polymer/lib/elements/dom-repeat.html">
<link rel="import" href="../polymer/lib/utils/gestures.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-checkbox/paper-checkbox.html">
<link rel="import" href="../paper-button/paper-button.html">

<dom-module id="check-list">
  <template>
    <style>
      :host {
        display: block;
      }
      .task{
        display: flex;
        align-items: center;
      }
      paper-inpuy{
        display: inline-block;
      }
    </style>
    <h1>{{prop1}}</h1>
    <dom-repeat 
    items="{{tasks}}" 
    as="task" 
    filter="isNotCompleted"
    observe="completed">
      <template >
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input laber="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>
    
   
    <h1>{{prop2}}</h1>
    <dom-repeat 
    items="{{tasks}}" 
    as="task" 
    filter="isCompleted"
    observe="completed">
      <template >
        <div class="task">
          <paper-checkbox checked="{{task.completed}}"></paper-checkbox>
          <paper-input laber="task name" no-label-float value="{{task.name}}"></paper-input>
        </div>
      </template>
    </dom-repeat>

   <paper-button  on-click="agregarTask">add tag</paper-button>
  </template>

  <script>
    /**
     * `check-list`
     * Un componenete para crear una lista
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CheckList extends Polymer.Element {
      static get is() { return 'check-list'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'completados',
            readOnly:true
          },
           prop2: {
            type: String,
            value: 'incompletados'
          },
          tasks: {
            type: Array,
            value: ()=>[]
          }
        };
      }
      
      agregarTask(){
        const newTask = {
          name:'',
          completed: false
        };
        this.push('tasks',newTask);
      }

      isNotCompleted(task){
        return !task.completed;
      }
      isCompleted(task){
        return task.completed;
      }

      _observerCambio(e){
        console.log(e)
      }
      static get observers(){
          return [
            '_observerCambio(tasks.*)'
          ]
      }
    }

    window.customElements.define(CheckList.is, CheckList);
  </script>
</dom-module>
